:root {
	--slide-down: 300%;
}

body {
	min-width: 440px !important;
	background-color: var(--bs-white) !important;
}

.fade.modal.show {
	padding: 0 !important;
}

th:not(:first-child) {
	min-width: 80px;
}

main {
	max-width: 1100px !important;
}

@media only screen and (min-width: 992px) {
	:root {
		--slide-down: 150%;
	}
}

.custom-main-container {
	min-height: 100vh;
}

nav {
	position: static;
	transition: 0.15s ease;
	z-index: 10;

	.nav-item {
		flex-basis: 0 !important;

		.custom-icon {
			width: 24px;
			height: 24px;
		}

		a,
		> button {
			font-size: 1rem;
		}

		&:hover > div {
			visibility: visible !important;
			transition-delay: 0.05s;
		}
	}

	&.custom-sm-grid {
		display: grid;
		grid-template-columns: 1fr -webkit-max-content;
		grid-template-columns: 1fr max-content;
		grid-template-areas:
			'utilities controls'
			'links links';
	}

	&.custom-md-grid {
		display: grid;
		grid-template-columns: 1fr -webkit-max-content;
		grid-template-columns: 1fr max-content;
		grid-template-areas:
			'utilities controls'
			'links controls';
	}

	ul:first-child {
		grid-area: links;
	}

	ul:nth-child(2) {
		grid-area: utilities;
	}

	ul:nth-child(3) {
		grid-area: controls;
	}

	&.custom-nav-hide {
		position: absolute;
		width: 100%;
		min-width: 440px;
		transform: translateY(-100%);

		.custom-btn-show {
			position: relative;
			top: 0;
			-webkit-animation: slideBtnDown 0.3s ease forwards;
			animation: slideBtnDown 0.3s ease forwards;
		}

		@-webkit-keyframes slideBtnDown {
			75% {
				transform: translateY(0) rotateX(180deg);
			}

			100% {
				transform: translateY(var(--slide-down)) rotateX(180deg);
			}
		}

		@keyframes slideBtnDown {
			75% {
				transform: translateY(0) rotateX(180deg);
			}

			100% {
				transform: translateY(var(--slide-down)) rotateX(180deg);
			}
		}
	}

	@media only screen and (min-width: 992px) {
		.custom-border {
			border-left: var(--bs-border-width) var(--bs-border-style)
				var(--bs-border-color) !important;
		}
	}
}

table {
	border-color: rgba(0, 0, 0, 0.25) !important;

	th:nth-child(odd),
	td:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.05) !important;
	}
}

.custom-search {
	height: 34px !important;
	transition: 0.15s ease;
	margin-bottom: 0.5rem;

	@media only screen and (min-width: 680px) {
		height: 0 !important;
		margin-bottom: 0 !important;
	}

	> button {
		position: relative;
		z-index: 3;
		transition: 0.15s ease;
		transform-origin: left;
	}

	form {
		width: 50%;
		transform-origin: left;
		transition: 0.15s ease;
		transform: scaleX(0);

		@media only screen and (min-width: 992px) {
			width: 25%;
		}

		input[type='search'] {
			min-width: 190px !important;
		}
	}

	&.expanded {
		height: 34px !important;
		transition: 0.15s ease;

		@media only screen and (min-width: 992px) {
			height: 0 !important;
		}

		> button {
			transform: scaleX(0);
		}

		form {
			transform: scaleX(1);
			transition: 0.15s ease;
		}
	}
}

.custom-select {
	max-height: 34px !important;
	min-width: 90px !important;
	transition: 0.15s ease;
}

.custom-container {
	:first-child {
		min-width: 160px !important;
	}

	:nth-child(2) {
		min-width: 100px !important;
		max-width: 100px !important;
	}

	:nth-child(3) {
		min-width: 200px !important;
	}

	:nth-child(4) {
		min-width: 200px !important;
	}
}

.custom-minwidth {
	min-width: calc(440px - 1rem) !important;
}

.custom-maxwidth {
	max-width: 1000px !important;
}

.custom-alert-maxheight {
	max-height: 140px;
}

.outline-success {
	outline: 2px solid rgb(50, 150, 0);
}

.outline-warning {
	outline: 2px solid rgb(255, 150, 0);
}

.outline-error {
	outline: 2px solid rgb(255, 0, 0);
}

.accordion-button {
	padding: 0.5rem !important;

	h4 {
		flex: 2 1 0;
	}

	h4:last-child {
		flex: 1 1 0;
		white-space: nowrap;
	}
}

.accordion-button.collapsed {
	background-color: rgba(0, 255, 255, 0.1) !important;
}

.accordion-body {
	padding: 0.5rem !important;
}
