:root {
	--slide-down: 300%;
}

@media only screen and (min-width: 992px) {
	:root {
		--slide-down: 150%;
	}
}

.custom-main-container {
	min-height: 100vh;
}

.custom-search {
	height: 0;

	> button {
		position: relative;
		z-index: 3;
		transition: 0.3s ease;
		transform-origin: left;
	}

	form {
		position: absolute;
		top: 0;
		left: 0;
		transform-origin: left;
		transition: 0.3s ease;
		transform: scaleX(0);

		input {
			min-width: 100px;
		}
	}

	&.expanded {
		> button {
			transform: scaleX(0);
		}

		form {
			transform: scaleX(1);
		}
	}
}

nav {
	position: static;
	transition: 0.15s ease-in-out;

	.nav-item {
		flex-basis: 0 !important;
	}

	&.custom-sm-grid {
		display: grid;
		grid-template-columns: 1fr max-content;
		grid-template-areas:
			'utilities controls'
			'links links';
	}

	&.custom-md-grid {
		display: grid;
		grid-template-columns: 1fr max-content;
		grid-template-areas:
			'utilities controls'
			'links controls';
	}

	ul:first-child {
		grid-area: links;
	}

	ul:nth-child(2) {
		grid-area: utilities;
	}

	ul:nth-child(3) {
		grid-area: controls;
	}

	&.custom-nav-hide {
		position: absolute;
		width: 100%;
		transform: translateY(-100%);

		.custom-btn-show {
			position: relative;
			top: 0;
			animation: slideBtnDown 0.3s ease-in-out forwards;
		}

		@keyframes slideBtnDown {
			75% {
				transform: translateY(0) rotateX(180deg);
			}

			100% {
				transform: translateY(var(--slide-down)) rotateX(180deg);
			}
		}
	}

	@media only screen and (min-width: 992px) {
		.custom-border {
			border-left: var(--bs-border-width) var(--bs-border-style)
				var(--bs-border-color) !important;
		}
	}
}

.custom-container {
	:first-child {
		min-width: 160px !important;
	}

	:nth-child(2) {
		min-width: 100px !important;
	}

	:nth-child(3) {
		min-width: 200px !important;
	}

	:nth-child(4) {
		min-width: 200px !important;
	}
}

.custom-modal-width {
	max-width: 1000px !important;
}

.custom-button {
	height: fit-content !important;
}

.outline-success {
	outline: 2px solid rgb(50, 150, 0);
}

.outline-warning {
	outline: 2px solid rgb(255, 150, 0);
}

.outline-error {
	outline: 2px solid rgb(255, 0, 0);
}

.accordion-button {
	padding: 0.5rem !important;

	h4,
	h5 {
		flex: 1 1 0;
	}
}

.accordion-button.collapsed {
	background-color: rgba(0, 255, 255, 0.1) !important;
}

.accordion-body {
	padding: 0.5rem !important;
}
