.custom-main-container {
	min-height: 100vh;
}

nav {
	position: static;
	transition: 0.15s ease-in-out;

	// Needs refactoring!
	&.custom-nav-hide {
		position: absolute;
		width: 100%;
		transform: translateY(-100%);

		.custom-btn1-show {
			position: relative;
			top: 0;
			animation: slideBtn1Down 0.3s ease-in-out forwards;
		}

		@keyframes slideBtn1Down {
			75% {
				transform: translateY(0);
			}

			100% {
				transform: translateY(150%);
			}
		}

		.custom-btn2-show {
			position: relative;
			top: 0;
			animation: slideBtn2Down 0.3s ease-in-out forwards;
		}

		@keyframes slideBtn2Down {
			75% {
				transform: translateY(0);
			}

			100% {
				transform: translateY(300%);
			}
		}
	}

	@media only screen and (min-width: 992px) {
		.custom-border {
			border-left: var(--bs-border-width) var(--bs-border-style)
				var(--bs-border-color) !important;
		}
	}
}

.custom-container {
	:first-child {
		min-width: 160px !important;
	}

	:nth-child(2) {
		min-width: 100px !important;
	}

	:nth-child(3) {
		min-width: 200px !important;
	}

	:nth-child(4) {
		min-width: 200px !important;
	}
}

.custom-modal-width {
	max-width: 1000px !important;
}

.custom-button {
	height: fit-content !important;
}

.outline-success {
	outline: 2px solid rgb(50, 150, 0);
}

.outline-warning {
	outline: 2px solid rgb(255, 150, 0);
}

.outline-error {
	outline: 2px solid rgb(255, 0, 0);
}

.accordion-button {
	padding: 0.5rem !important;

	h4,
	h5 {
		flex: 1 1 0;
	}
}

.accordion-button.collapsed {
	background-color: rgba(0, 255, 255, 0.1) !important;
}

.accordion-body {
	padding: 0.5rem !important;
}
