html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 2.5rem !important;
}

h2 {
	font-size: 2rem !important;
}

h3 {
	font-size: 1.5rem !important;
}

h4 {
	font-size: 1.25rem !important;
}

h5 {
	font-size: 1rem !important;
}

h6 {
	font-size: 0.85rem !important;
}

p {
	margin-bottom: 0 !important;
}

body {
	min-width: 440px;
}

main {
	width: 100%;
	max-width: 992px;
	margin: 0 auto;
}
